**/models 

**/__pycache__/ 

**/cluster_result

*.pyc

config.*

.env

**/venv

**/.idea

**/.git 

**/temp 

**/dump

**/test

**/output

**/pokemon 

**/shinkai 

**/data 

**/log 

**/reorg 

**/models/* 

scratch.py 

main.py 

dataset.py 

train_old.py 

**/pkl 